.weather {
  padding: 10px;
}

form.search-form {
  margin-top: 15px;
}

p.city {
  font-size: 30px;
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

h4.description {
  font-size: 20px;
  font-weight: 300;
  color: grey;
}

div.current-time div {
  float: right;
  font-size: 20px;
  font-weight: 300;
  margin-top: 10px;
  margin-right: 20px;
}

.WeatherData canvas {
  margin: 5px;
  margin-top: 15px;
}

span.current-temperature {
  font-size: 45px;
  padding: 5px;
  font-weight: 300;
}

span.unit {
  position: relative;
  top: -25px;
  left: 15px;
  font-size: 20px;
  padding: 5px;
}

div.current-specifications ul {
  list-style: none;
  float: right;
  padding: 5px;
  position: relative;
  left: 25px;
  color: grey;
  font-size: 15px;
  font-weight: 300;
}

div.WeatherForecastPreview {
  text-align: center;
  padding: 5px;
}

div.WeatherForeacast canvas {
  margin: 3px;
}
