.weather {
  padding: 10px;
}

form.search-form {
  margin: 10px;
}

h2.city {
  font-size: 40px;
}

h4.description {
  font-size: 20px;
  font-weight: 300;
  color: grey;
}

div.current-time div {
  float: right;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 20px;
}

div.current-temperature {
  font-size: 60px;
  padding: 5px;
}

div.current-temperature img {
  margin-right: 5px;
}

ul.unit li {
  list-style: none;
  display: inline-block;
  position: relative;
  top: 20px;
  left: -20px;
}

div.current-specifications ul {
  list-style: none;
  padding: 5px;
  position: relative;
  top: 10px;
  left: 30px;
  color: grey;
}
